@page
@model DevKids_v1.Areas.Lecture.Pages.VideoModel
@{
    ViewData["Title"] = "Lecture";
}

<h1>@ViewData["Title"]</h1>

<h4>Project</h4>
<hr />

<div class="embed-responsive embed-responsive-16by9 embed-responsive-4by3">
    <video src="@Model.FilePath" controls />
</div>
