@page
@model DevKids_v1.Areas.Lecture.Pages.VideoModel

<h4>@ViewData["Title"]</h4>
<hr />

<div class="rounded text-light embed-responsive embed-responsive-16by9 embed-responsive-4by3">
    <video class="col-md-8 shadow bg-gradient" src="@Model.FilePath" controls />
</div>
