html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
    color: grey;
}

navbar {
    background-color: darkorange;
}

.logo-limits {
    object-fit: contain; /* keep aspect ratio */
    width: 100%;
    max-height: 150px;
    margin-bottom: 1rem;
    padding-right: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.banner-head {
    text-align: center;
    color: black;
    background-color:lightskyblue;
    height:30px;
    margin-bottom:15px;
}

.banner-body {
    color: dodgerblue;
    border: groove;
    border-color: lightskyblue;
}