@page
@model DevKids_v1.Pages.ProjectResources.EditModel

@{
    ViewData["Title"] = "Edit Resources";
}

<h1>@ViewData["Title"]</h1>

<h4>Project Resource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectResource.Id" />
            <div class="form-group">
                <label asp-for="ProjectResource.ProjectId" class="control-label"></label>
                <input asp-for="ProjectResource.ProjectId" class="form-control" />
                <span asp-validation-for="ProjectResource.ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectResource.Title" class="control-label"></label>
                <input asp-for="ProjectResource.Title" class="form-control" />
                <span asp-validation-for="ProjectResource.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileTypeChoice" class="control-label"></label>
                <select asp-for="FileTypeChoice" asp-items="Html.GetEnumSelectList<DevKids_v1.MyEnum.FileTypeEnum>()" class="form-control">
                </select>
                <span asp-validation-for="FileTypeChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectResource.SectionTitle" class="control-label"></label>
                <input asp-for="ProjectResource.SectionTitle" class="form-control" />
                <span asp-validation-for="ProjectResource.SectionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectResource.SectionOrder" class="control-label"></label>
                <input asp-for="ProjectResource.SectionOrder" class="form-control" />
                <span asp-validation-for="ProjectResource.SectionOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectResource.InSectionOrder" class="control-label"></label>
                <input asp-for="ProjectResource.InSectionOrder" class="form-control" />
                <span asp-validation-for="ProjectResource.InSectionOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
