@using Microsoft.AspNetCore.Identity
@using DevKids_v1.Areas.Identity.Data
@inject SignInManager<RazorPagesUser> SignInManager
@inject UserManager<RazorPagesUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    RazorPagesUser user = await UserManager.GetUserAsync(User);
    var fullName = $"{user.FirstName} {user.LastName}";

    <li class="nav-item">
        <a  id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @fullName!</a>
    </li>
    @if (User.HasClaim("IsAdmin", bool.TrueString))
    {
        <ul class="navbar-nav">
            <strong>Admin Menu</strong>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-page="/Projects/Index">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-page="/ProjectResources/Index">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Wallet" asp-page="/Wallet">Wallet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="UserResources" asp-page="/Index">Users Resources</a>
            </li>
        </ul>
    }
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Checkout" asp-page="/CheckoutReview">Minhas compras</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-light">Sair</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}
</ul>
